body {
    background: #141414;
}

.editMode .v-image__image { 
    opacity: .3; 
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s
  }
  
  .fade-enter, .fade-leave-active {
    opacity: 0
  }